In [80]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import numpy as np
import scipy as sp
import os
import xgboost as xgb
%matplotlib inline

In [81]:
pd.set_option('display.max_columns', None)

In [201]:
train = pd.read_csv("/Users/andrewrubino/Desktop/train.csv", parse_dates = ['timestamp']).drop('id', axis=1)
print train.shape
test = pd.read_csv("/Users/andrewrubino/Desktop/test.csv", parse_dates = ['timestamp']).drop('id', axis=1)
print test.shape
macro = pd.read_csv("/Users/andrewrubino/Desktop/macro.csv", parse_dates = ['timestamp'])
print macro.shape

(30471, 291)
(7662, 290)
(2484, 100)

In [202]:
ftr_train = train.loc[:, ['price_doc',
'timestamp',
'full_sq',
'life_sq',
'floor',
'max_floor',
'material',
'build_year',
'num_room',
'kitch_sq',
'state',
'product_type',
'sub_area',
'indust_part',
'school_education_centers_raion',
'sport_objects_raion',
'culture_objects_top_25_raion',
'oil_chemistry_raion',
'metro_min_avto',
'green_zone_km',
'industrial_km',
'kremlin_km',
'radiation_km',
'ts_km',
'fitness_km',
'stadium_km',
'additional_education_km',
'cafe_count_1500_price_500',
'cafe_count_1500_price_high',
'cafe_count_2000_price_2500',
'trc_sqm_5000',
'cafe_count_5000',
'cafe_count_5000_price_high']]


ftr_test = test.loc[:, ['timestamp',
'full_sq',
'life_sq',
'floor',
'max_floor',
'material',
'build_year',
'num_room',
'kitch_sq',
'state',
'product_type',
'sub_area',
'indust_part',
'school_education_centers_raion',
'sport_objects_raion',
'culture_objects_top_25_raion',
'oil_chemistry_raion',
'metro_min_avto',
'green_zone_km',
'industrial_km',
'kremlin_km',
'radiation_km',
'ts_km',
'fitness_km',
'stadium_km',
'additional_education_km',
'cafe_count_1500_price_500',
'cafe_count_1500_price_high',
'cafe_count_2000_price_2500',
'trc_sqm_5000',
'cafe_count_5000',
'cafe_count_5000_price_high']]

ftr_macro = macro.loc[:,['timestamp',
'oil_urals',
'gdp_quart',
'cpi',
'ppi',
'usdrub',
'eurrub',
'gdp_annual',
'rts',
'micex',
'micex_cbi_tr',
'deposits_rate',
'mortgage_rate',
'income_per_cap',
'salary',
'labor_force',
'unemployment',
'employment']]

id_test = test['id']

KeyError: 'id'

In [140]:
train = pd.merge(ftr_train, ftr_macro, how = 'left', on = 'timestamp')
test = pd.merge(ftr_test, ftr_macro, how = 'left', on = 'timestamp')

In [141]:
from sklearn import model_selection, preprocessing
from sklearn.preprocessing import LabelEncoder

def encode_object_features(train_df, test_df):
    '''(DataFrame, DataFrame) -> DataFrame, DataFrame
    
    Will encode each non-numerical column.
    '''
    for f in train_df.columns:
        if train_df[f].dtype=='object':
            print(f)
            lbl = preprocessing.LabelEncoder()
            lbl.fit(list(train_df[f].values.astype('str')) + list(test_df[f].values.astype('str')))
            train_df[f] = lbl.transform(list(train_df[f].values.astype('str')))
            test_df[f] = lbl.transform(list(test_df[f].values.astype('str')))
    
    return train_df, test_df

In [142]:
train, test = encode_object_features(train, test)

product_type
sub_area
oil_chemistry_raion

In [143]:
# Impute missing values in training set

from scipy.stats import mode

print int(mode(train['life_sq']).mode[0])
print mode(train['floor']).mode[0]
print mode(train['max_floor']).mode[0]
print mode(train['material']).mode[0]
print mode(train['build_year']).mode[0]
print mode(train['num_room']).mode[0]
print mode(train['kitch_sq']).mode[0]
print mode(train['state']).mode[0]
print mode(train['industrial_km']).mode[0]


train['life_sq'].fillna(mode(train['life_sq']).mode[0], inplace=True)
train['floor'].fillna(mode(train['floor']).mode[0], inplace=True)
train['max_floor'].fillna(mode(train['max_floor']).mode[0], inplace=True)
train['material'].fillna(mode(train['material']).mode[0], inplace=True)
train['build_year'].fillna(mode(train['build_year']).mode[0], inplace=True)
train['num_room'].fillna(mode(train['num_room']).mode[0], inplace=True)
train['kitch_sq'].fillna(mode(train['kitch_sq']).mode[0], inplace=True)
train['state'].fillna(mode(train['state']).mode[0], inplace=True)
train['industrial_km'].fillna(mode(train['industrial_km']).mode[0], inplace=True)

19
3.0
17.0
1.0
2014.0
2.0
1.0
2.0
0.394107795

In [155]:
train.apply(lambda x: type(x[0]))

price_doc                           <type 'int'>
full_sq                             <type 'int'>
life_sq                           <type 'float'>
floor                             <type 'float'>
max_floor                         <type 'float'>
material                          <type 'float'>
build_year                        <type 'float'>
num_room                          <type 'float'>
kitch_sq                          <type 'float'>
state                             <type 'float'>
product_type                        <type 'int'>
sub_area                            <type 'int'>
indust_part                       <type 'float'>
school_education_centers_raion      <type 'int'>
sport_objects_raion                 <type 'int'>
culture_objects_top_25_raion        <type 'int'>
oil_chemistry_raion                 <type 'int'>
metro_min_avto                    <type 'float'>
green_zone_km                     <type 'float'>
industrial_km                     <type 'float'>
kremlin_km                        <type 'float'>
radiation_km                      <type 'float'>
ts_km                             <type 'float'>
fitness_km                        <type 'float'>
stadium_km                        <type 'float'>
additional_education_km           <type 'float'>
cafe_count_1500_price_500           <type 'int'>
cafe_count_1500_price_high          <type 'int'>
cafe_count_2000_price_2500          <type 'int'>
trc_sqm_5000                        <type 'int'>
                                       ...
micex_cbi_tr_3                    <type 'float'>
labor_force_3                     <type 'float'>
oil_urals_6                       <type 'float'>
gdp_quart_6                       <type 'float'>
cpi_6                             <type 'float'>
usdrub_6                          <type 'float'>
micex_cbi_tr_6                    <type 'float'>
labor_force_6                     <type 'float'>
oil_urals_12                      <type 'float'>
gdp_quart_12                      <type 'float'>
cpi_12                            <type 'float'>
usdrub_12                         <type 'float'>
micex_cbi_tr_12                   <type 'float'>
labor_force_12                    <type 'float'>
delta_oil_1                       <type 'float'>
delta_oil_3                       <type 'float'>
delta_oil_6                       <type 'float'>
delta_oil_12                      <type 'float'>
delta_usdrub_1                    <type 'float'>
delta_usdrub_3                    <type 'float'>
delta_usdrub_6                    <type 'float'>
delta_usdrub_12                   <type 'float'>
delta_labor_force_1               <type 'float'>
delta_labor_force_3               <type 'float'>
delta_labor_force_6               <type 'float'>
delta_labor_force_12              <type 'float'>
month                               <type 'int'>
day                                 <type 'int'>
year                                <type 'int'>
year_month                          <type 'str'>
dtype: object

In [145]:
# Impute missing values in test set
print mode(test['life_sq']).mode[0]
print mode(test['build_year']).mode[0]
print mode(test['state']).mode[0]
print mode(test['income_per_cap']).mode[0]
print mode(test['salary']).mode[0]
print mode(test['labor_force']).mode[0]
print mode(test['unemployment']).mode[0]
print mode(test['employment']).mode[0]


test['life_sq'].fillna(mode(test['life_sq']).mode[0], inplace=True)
test['build_year'].fillna(mode(test['build_year']).mode[0], inplace=True)
test['state'].fillna(mode(test['state']).mode[0], inplace=True)
test['income_per_cap'].fillna(mode(test['income_per_cap']).mode[0], inplace=True)
test['salary'].fillna(mode(test['salary']).mode[0], inplace=True)
test['labor_force'].fillna(mode(test['labor_force']).mode[0], inplace=True)
test['unemployment'].fillna(mode(test['unemployment']).mode[0], inplace=True)
test['employment'].fillna(mode(test['employment']).mode[0], inplace=True)

1.0
2017.0
2.0
102709.0
64310.0
7067.470079
0.017708287
0.733598301

# House Feature Engineering

In [ ]:
#House features
train['kitch_full'] = train.kitch_sq/train.full_sq
train['kitch_life'] = train.kitch_sq/train.life_sq
train['rootfullsq']= np.sqrt(train.full_sq)
train['life_full'] = train.life_sq/train.full_sq
train['extra_full'] = (train.full_sq-train.life_sq)/train.full_sq
train['extra_life'] = (train.full_sq-train.life_sq)/train.life_sq
train['extra_on_life'] = train.full_sq/train.life_sq
train['rel_floor'] = train.floor/train.max_floor
train['build_age'] = train.timestamp.dt.year - train.build_year
train['unitprice'] = train.price_doc/train.full_sq

#Raion features
train['pop_density']=train.raion_popul/train.area_m
train['traffic'] = train.metro_km_avto/train.metro_min_avto # higher speed, lower the traffic 
train['safety'] = train.female_f/train.full_all #higher percentage of women, better the safety
train['young'] = train.young_all/train.full_all #percentage of young people
train['old'] = train.elder_all/train.full_all # percentage of old people
#train.under_14 = train.0_13_all/ train.full_all # percentage of under 14 yrs

In [146]:
# Mini macro
mini_macro = macro.loc[:,['timestamp',
'oil_urals',
'gdp_quart',
'cpi',
'usdrub',
'micex_cbi_tr',
'labor_force']]

In [147]:
# Create lag timestamps for one month, three months, 6 months, and 12 months in train
# Join with appropriate macro

mini_macro.columns = ['one_month_lag','oil_urals_1', 'gdp_quart_1', 'cpi_1', 
                      'usdrub_1', 'micex_cbi_tr_1', 'labor_force_1']
train['one_month_lag'] = train['timestamp'] - pd.to_timedelta('30 days')
train = pd.merge(train, mini_macro, how = 'left', on = 'one_month_lag')

# 3 month lage
mini_macro.columns = ['three_month_lag','oil_urals_3', 'gdp_quart_3', 'cpi_3', 
                      'usdrub_3', 'micex_cbi_tr_3', 'labor_force_3']
train['three_month_lag'] = train['timestamp'] - pd.to_timedelta('90 days')
train = pd.merge(train, mini_macro, how = 'left', on = 'three_month_lag')

# 6 month lage
mini_macro.columns = ['six_month_lag','oil_urals_6', 'gdp_quart_6', 'cpi_6', 
                      'usdrub_6', 'micex_cbi_tr_6', 'labor_force_6']
train['six_month_lag'] = train['timestamp'] - pd.to_timedelta('180 days')
train = pd.merge(train, mini_macro, how = 'left', on = 'six_month_lag')

# 12 month lage
mini_macro.columns = ['twelve_month_lag','oil_urals_12', 'gdp_quart_12', 'cpi_12', 
                      'usdrub_12', 'micex_cbi_tr_12', 'labor_force_12']
train['twelve_month_lag'] = train['timestamp'] - pd.to_timedelta('360 days')
train = pd.merge(train, mini_macro, how = 'left', on = 'twelve_month_lag')

In [148]:
# Create lag timestamps for one month, three months, 6 months, and 12 months in test
# Join with appropriate macro

mini_macro.columns = ['one_month_lag','oil_urals_1', 'gdp_quart_1', 'cpi_1', 
                      'usdrub_1', 'micex_cbi_tr_1', 'labor_force_1']
test['one_month_lag'] = test['timestamp'] - pd.to_timedelta('30 days')
test = pd.merge(test, mini_macro, how = 'left', on = 'one_month_lag')

# 3 month lage
mini_macro.columns = ['three_month_lag','oil_urals_3', 'gdp_quart_3', 'cpi_3', 
                      'usdrub_3', 'micex_cbi_tr_3', 'labor_force_3']
test['three_month_lag'] = test['timestamp'] - pd.to_timedelta('90 days')
test = pd.merge(test, mini_macro, how = 'left', on = 'three_month_lag')

# 6 month lage
mini_macro.columns = ['six_month_lag','oil_urals_6', 'gdp_quart_6', 'cpi_6', 
                      'usdrub_6', 'micex_cbi_tr_6', 'labor_force_6']
test['six_month_lag'] = test['timestamp'] - pd.to_timedelta('180 days')
test = pd.merge(test, mini_macro, how = 'left', on = 'six_month_lag')

# 12 month lage
mini_macro.columns = ['twelve_month_lag','oil_urals_12', 'gdp_quart_12', 'cpi_12', 
                      'usdrub_12', 'micex_cbi_tr_12', 'labor_force_12']
test['twelve_month_lag'] = test['timestamp'] - pd.to_timedelta('360 days')
test = pd.merge(test, mini_macro, how = 'left', on = 'twelve_month_lag')

In [149]:
# Find delta for oil
train['delta_oil_1'] = (train['oil_urals'] - train['oil_urals_1']) / train['oil_urals']
train['delta_oil_3'] = (train['oil_urals'] - train['oil_urals_3']) / train['oil_urals']
train['delta_oil_6'] = (train['oil_urals'] - train['oil_urals_6']) / train['oil_urals']
train['delta_oil_12'] = (train['oil_urals'] - train['oil_urals_12']) / train['oil_urals']

In [150]:
# find delta for usdrub exchange rate
train['delta_usdrub_1'] = (train['usdrub'] - train['usdrub_1']) / train['usdrub']
train['delta_usdrub_3'] = (train['usdrub'] - train['usdrub_3']) / train['usdrub']
train['delta_usdrub_6'] = (train['usdrub'] - train['usdrub_6']) / train['usdrub']
train['delta_usdrub_12'] = (train['usdrub'] - train['usdrub_12']) / train['usdrub']

In [151]:
# find delta of labor force
train['delta_labor_force_1'] = (train['labor_force'] - train['labor_force_1']) / train['labor_force']
train['delta_labor_force_3'] = (train['labor_force'] - train['labor_force_3']) / train['labor_force']
train['delta_labor_force_6'] = (train['labor_force'] - train['labor_force_6']) / train['labor_force']
train['delta_labor_force_12'] = (train['labor_force'] - train['labor_force_12']) / train['labor_force']

In [152]:
# now do the same for test
test['delta_oil_1'] = (test['oil_urals'] - test['oil_urals_1']) / test['oil_urals']
test['delta_oil_3'] = (test['oil_urals'] - test['oil_urals_3']) / test['oil_urals']
test['delta_oil_6'] = (test['oil_urals'] - test['oil_urals_6']) / test['oil_urals']
test['delta_oil_12'] = (test['oil_urals'] - test['oil_urals_12']) / test['oil_urals']

test['delta_usdrub_1'] = (test['usdrub'] - test['usdrub_1']) / test['usdrub']
test['delta_usdrub_3'] = (test['usdrub'] - test['usdrub_3']) / test['usdrub']
test['delta_usdrub_6'] = (test['usdrub'] - test['usdrub_6']) / test['usdrub']
test['delta_usdrub_12'] = (test['usdrub'] - test['usdrub_12']) / test['usdrub']

test['delta_labor_force_1'] = (test['labor_force'] - test['labor_force_1']) / test['labor_force']
test['delta_labor_force_3'] = (test['labor_force'] - test['labor_force_3']) / test['labor_force']
test['delta_labor_force_6'] = (test['labor_force'] - test['labor_force_6']) / test['labor_force']
test['delta_labor_force_12'] = (test['labor_force'] - test['labor_force_12']) / test['labor_force']

In [166]:
train.iloc[:,[29]]

       trc_sqm_5000
0           4036616
1           2034942
2           1572990
3            942180
4           3503058
5           2010320
6           1656529
7           2197401
8           1051314
9           1404650
10           405046
11          1190497
12          1228218
13          2817760
14          2383501
15          1298186
16           937551
17          2239705
18           320516
19           719166
20            30000
21          1413963
22          1564113
23          1172215
24          1579853
25          1493785
26          2515392
27           241350
28           830817
29          2480456
...             ...
30441       3346565
30442        262000
30443        473050
30444       1217838
30445       2276854
30446        473076
30447        473050
30448        139300
30449       2276854
30450       2511392
30451             0
30452       1155493
30453        297883
30454       1114771
30455        201300
30456       1217838
30457       1769708
30458        661050
30459        473050
30460       1566507
30461       1145385
30462       2276854
30463        867953
30464       1313276
30465       3346565
30466       2548292
30467       4345915
30468        201300
30469       1464521
30470        646575

[30471 rows x 1 columns]

In [154]:
train = add_date_features(train)
test = add_date_features(test)

In [ ]:
#np.sum(test.isnull())
# Replace test missings with 0
test = test.fillna(0)

# Another model with different predictors

In [156]:
from sklearn.ensemble import RandomForestRegressor

X2 = train.iloc[:,1:len(train)]
y2 = np.log(train[[0]])
x2_test = test

sample_leaf_options = [1,5,10,50,100,200,500]

for leaf_size in sample_leaf_options :
    rfr = RandomForestRegressor(n_estimators=1000, oob_score=True, n_jobs = -1,
                                   verbose = 1, random_state = 50, min_samples_leaf = leaf_size)
    # Train the model using the training sets and check score
    rfr.fit(X2, y2.values.ravel())
    print "Leaf Size: %d" % (leaf_size)
    print rfr.score(X2, y2)

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   23.2s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  9.9min finished

Leaf Size: 1

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.9s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    2.0s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    3.6s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    4.6s finished

0.919083355108

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   18.7s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  6.4min finished

Leaf Size: 5

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    1.0s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    1.9s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    3.1s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    3.8s finished

0.74877551424

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   14.4s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  4.6min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  5.7min finished

Leaf Size: 10

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    1.1s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    1.9s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    2.4s finished

0.645174344065

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   43.1s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  4.0min finished

Leaf Size: 50

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    1.0s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    1.7s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    2.0s finished

0.47503055548

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   35.7s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  7.4min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  8.1min finished

Leaf Size: 100

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.4s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.8s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    1.4s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    1.8s finished

0.431192573971

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    6.8s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   29.6s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  2.8min finished

Leaf Size: 200

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.3s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.6s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    1.1s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    1.4s finished

0.398319583026

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   22.3s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:   51.4s
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  1.9min finished

Leaf Size: 500

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    1.0s

0.360275692561

[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    1.2s finished

In [168]:
# Leaf size 50 seems ideal

rfr50 = RandomForestRegressor(n_estimators=1000, oob_score=True, n_jobs = -1,
                            verbose = 1, random_state = 50, min_samples_leaf = 50)

rfr50.fit(X2, y2.values.ravel())

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   51.0s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  3.3min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  4.1min finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=50,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=1000, n_jobs=-1, oob_score=True, random_state=50,
           verbose=1, warm_start=False)

In [169]:
importances = rfr50.feature_importances_
std = np.std([tree.feature_importances_ for tree in rfr50.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X2.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

Feature ranking:
1. feature 0 (0.514083)
2. feature 29 (0.112188)
3. feature 16 (0.056031)
4. feature 30 (0.028500)
5. feature 27 (0.026660)
6. feature 23 (0.021184)
7. feature 28 (0.015782)
8. feature 19 (0.013874)
9. feature 25 (0.011957)
10. feature 24 (0.010693)
11. feature 21 (0.009207)
12. feature 11 (0.009156)
13. feature 18 (0.008666)
14. feature 13 (0.008415)
15. feature 17 (0.007586)
16. feature 64 (0.007466)
17. feature 10 (0.007410)
18. feature 22 (0.007343)
19. feature 58 (0.007192)
20. feature 5 (0.006790)
21. feature 20 (0.006340)
22. feature 52 (0.005848)
23. feature 51 (0.005495)
24. feature 70 (0.005386)
25. feature 63 (0.004595)
26. feature 6 (0.004498)
27. feature 57 (0.004142)
28. feature 40 (0.004048)
29. feature 2 (0.004035)
30. feature 36 (0.004000)
31. feature 12 (0.003853)
32. feature 69 (0.003122)
33. feature 7 (0.003112)
34. feature 9 (0.002925)
35. feature 26 (0.002800)
36. feature 35 (0.002739)
37. feature 34 (0.002277)
38. feature 79 (0.002264)
39. feature 76 (0.002150)
40. feature 39 (0.002083)
41. feature 38 (0.002031)
42. feature 85 (0.001860)
43. feature 78 (0.001856)
44. feature 1 (0.001732)
45. feature 68 (0.001676)
46. feature 3 (0.001668)
47. feature 60 (0.001477)
48. feature 77 (0.001472)
49. feature 42 (0.001422)
50. feature 75 (0.001341)
51. feature 8 (0.001166)
52. feature 54 (0.001154)
53. feature 72 (0.001149)
54. feature 43 (0.001143)
55. feature 66 (0.001084)
56. feature 31 (0.001006)
57. feature 74 (0.000978)
58. feature 55 (0.000942)
59. feature 48 (0.000938)
60. feature 62 (0.000808)
61. feature 84 (0.000742)
62. feature 61 (0.000731)
63. feature 67 (0.000684)
64. feature 73 (0.000660)
65. feature 41 (0.000608)
66. feature 4 (0.000484)
67. feature 50 (0.000456)
68. feature 49 (0.000431)
69. feature 32 (0.000411)
70. feature 56 (0.000358)
71. feature 14 (0.000344)
72. feature 33 (0.000298)
73. feature 87 (0.000234)
74. feature 82 (0.000177)
75. feature 59 (0.000154)
76. feature 53 (0.000134)
77. feature 46 (0.000122)
78. feature 83 (0.000071)
79. feature 81 (0.000048)
80. feature 65 (0.000026)
81. feature 45 (0.000014)
82. feature 47 (0.000012)
83. feature 44 (0.000003)
84. feature 71 (0.000000)
85. feature 37 (0.000000)
86. feature 86 (0.000000)
87. feature 15 (0.000000)
88. feature 80 (0.000000)

In [181]:
predicted = rfr50.predict(x2_test)

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.2s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    0.6s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    0.8s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    1.2s finished

In [182]:
type(predicted)

numpy.ndarray

In [183]:
predicted

array([ 15.5067522 ,  15.89177719,  15.47833869, ...,  15.33877152,
        15.4944138 ,  15.89824875])

In [184]:
len(predicted)

7662

In [185]:
submission = pd.read_csv("/Users/andrewrubino/Desktop/test.csv", parse_dates = ['timestamp'])

In [618]:
submission.head()
print len(submission)

7662

In [186]:
submission['index1'] = submission.index
submission.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,index1
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,3.0,Investment,Juzhnoe Butovo,2.615514e+07,178264,0.137846,0.041116,14080,11926.0,11,14892,24750.0,13,1,NaN,1,0,13,4,no,0,4,4,no,no,no,no,no,no,no,no,102618,47681,54937,30808,16251,14557,121369,59138,62231,26087,7410,18677,14080,7457,6623,14892,7839,7053,34341,18094,16247,19906,9676,10230,27123,14340,12783,1681.0,173.0,607.0,19.0,245.0,116.0,431.0,1.0,84.0,5.0,1680.0,34.0,299.0,439.0,109.0,799.0,45,1.258957,0.735908,8.830901,0.735908,0.078502,0.746962,2.048487,0.061485,1.205404,0.967696,0.781053,10.56540,4.812102,57.745220,39.0,4.850748,6.274963,39,0.114134,1.369603,0.248151,no,6.374826,19.651101,22.790985,24.079707,24.779082,4.152246,2,no,5.706484,38,0.490549,no,27.553486,32,8.424959,9,22.624362,16.224083,6.620081,4.121874,8.957780,8.824060,15.483912,5.353674,0.225788,3.673942,11.810839,20.392427,9.131977,3.300120,25.462741,1.613152,17.214870,7.922610,2.414138,4.923614,0.514211,0.746962,0.749142,0.848297,1.917736,19.953413,14.052207,12.228576,0.446324,satisfactory,42.22,0.00,0,0,0,0,1,1000.0,1500.0,1250.0,0,0,0,1,0,0,0,0,0,0,0,1,0,32.48,0.00,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,1,1,0,0,3,0,20.14,0.70,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,1,2,0,0,4,0,15.17,1.18,0,0,0,0,3,1000.00,1500.00,1250.00,0,0,0,3,0,0,0,1,2,1,0,5,0,14.69,2.87,0,0,3,73000,12,781.82,1227.27,1004.55,1,2,2,7,0,0,0,1,3,1,0,7,0,21.58,4.69,1,37550,8,299166,19,676.47,1088.24,882.35,2,5,4,8,0,0,0,1,10,1,0,14,1,0
1,30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe,2.553630e+07,4001,0.496315,0.007122,275,NaN,0,264,NaN,0,0,NaN,0,0,0,0,no,0,1,0,no,no,no,no,no,no,no,no,17790,8350,9443,574,297,277,2566,1356,1211,861,244,617,275,143,133,264,136,128,646,336,311,3796,2035,1762,506,261,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,4.230425,3.444625,41.335498,3.444625,1.192193,1.332570,4.400427,0.000000,0.742377,16.049420,2.244906,18.50054,5.458057,65.496687,24.0,5.458057,6.859956,24,0.826083,9.912993,0.799853,no,6.847813,16.975793,19.692960,20.864427,21.722620,2.148398,13,no,4.410488,27,2.342346,no,27.421853,50,16.913175,8,29.425443,17.080113,8.545593,4.932827,10.039833,3.654955,15.092542,8.156185,1.313180,4.244082,4.438242,13.445121,8.332180,7.095895,26.807204,3.775300,12.440198,9.672779,1.764298,3.764819,1.694967,1.332570,1.672126,1.162371,12.239901,13.006107,9.661063,4.323941,0.705873,no data,86.33,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,67.43,3.77,0,0,0,0,2,1000.00,1750.00,1375.00,0,0,1,0,1,0,0,0,0,0,0,0,0,59.28,5.31,0,0,0,0,3,833.33,1500.00,1166.67,0,0,2,0,1,0,0,0,1,0,0,1,0,49.26,4.06,0,0,1,5000,7,757.14,1285.71,1021.43,0,1,3,2,1,0,0,1,2,0,0,1,0,39.50,3.32,0,0,2,22000,10,680.00,1200.00,940.00,0,1,6,2,1,0,0,1,5,0,0,7,0,39.10,7.70,2,177300,6,231300,20,733.33,1250.00,991.67,2,4,8,4,1,1,0,2,11,0,1,12,1,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,2.0,Investment,Perovo,9.946335e+06,139322,0.065409,0.225825,6400,2232.0,7,6558,7966.0,7,0,1548.0,3,0,13,0,no,0,2,7,yes,no,yes,yes,no,no,no,no,36154,16222,19932,13799,6937,6862,91795,44734,47061,33728,9653,24075,6400,3209,3191,6558,3317,3241,15514,7813,7701,8137,3787,4350,12162,6117,6045,561.0,111.0,0.0,0.0,254.0,3.0,189.0,0.0,4.0,0.0,561.0,0.0,5.0,437.0,79.0,40.0,44,1.585306,1.122214,13.466563,1.122214,0.065324,0.194608,2.513006,0.580638,0.900408,11.749900,3.389848,10.19563,3.628293,43.539514,68.0,3.977659,5.375048,59,0.116686,1.400229,1.384824,no,3.499380,5.627481,8.090528,8.671086,10.320728,0.580638,10,no,3.499380,1,2.220941,no,10.093318,5,7.921607,3,1.823381,14.431252,0.826743,2.388288,3.760642,3.290966,16.304596,0.644830,0.966254,1.332737,3.131143,1.464174,1.499581,0.487817,6.718082,0.711768,4.862872,3.506298,1.456661,1.223804,2.330995,0.194608,1.400094,1.177527,9.938735,2.983875,1.988346,0.794245,0.320864,poor,0.00,0.00,0,0,0,0,3,400.0,750.0,575.0,1,1,1,0,0,0,0,0,0,0,0,0,1,13.07,0.80,0,0,0,0,8,485.71,857.14,671.43,1,3,3,1,0,0,0,0,0,0,1,6,2,30.97,8.75,2,34100,1,0,19,655.56,1111.11,883.33,1,6,6,4,2,0,0,1,1,0,1,12,3,40.90,10.51,6,80237,3,14090,28,633.33,1092.59,862.96,1,7,12,6,2,0,0,2,2,0,4,14,4,45.86,9.08,8,215237,6,39106,37,608.33,1069.44,838.89,1,8,19,7,2,0,0,2,3,0,5,22,4,25.62,13.59,27,427889,26,1024431,179,668.97,1132.18,900.57,5,53,64,42,11,4,0,10,21,0,10,71,11,2
3,30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,3.0,OwnerOccupier,Poselenie Voskresenskoe,2.149409e+07,7122,0.262459,0.017647,489,NaN,0,469,NaN,0,0,NaN,0,0,0,2,no,0,0,0,no,no,no,no,no,no,no,no,9553,4529,5024,1021,529,493,4568,2414,2155,1533,435,1099,489,254,236,469,242,228,1150,597,553,2155,1206,950,900,465,435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,7.931398,6.038848,68.559794,5.713316,3.189083,3.540105,5.612835,0.025446,0.466738,5.061917,2.701804,14.62944,10.284167,123.410001,39.0,10.609698,13.517419,39,3.093209,37.118504,0.233017,no,8.928836,22.094252,25.062928,26.226045,26.960463,2.722667,38,no,8.601110,2,4.476081,no,37.436772,50,13.979650,8,26.895118,19.942295,9.434351,6.218331,13.345715,10.480798,10.723870,11.112624,4.480234,8.577223,15.200509,18.560234,12.253021,6.831966,30.366022,5.731266,15.382678,11.306566,6.589381,8.102094,0.403429,3.540105,5.411312,0.213853,6.153091,18.121220,16.938290,14.171229,0.454087,no data,22.01,0.15,0,0,0,0,1,300.0,500.0,400.0,0,1,0,0,0,0,0,0,1,0,0,0,0,27.94,7.90,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,2,0,0,0,0,28.82,3.59,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,3,0,0,0,0,31.35,2.99,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,3,0,0,0,0,34.87,1.34,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,4,0,0,0,0,24.25,1.66,0,0,0,0,5,1560.00,2500.00,2030.00,0,1,0,1,1,2,0,0,10,0,0,2,0,3
4,30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe,2.553630e+07,4001,0.496315,0.007122,275,NaN,0,264,NaN,0,0,NaN,0,0,0,0,no,0,1,0,no,no,no,no,no,no,no,no,17790,8350,9443,574,297,277,2566,1356,1211,861,244,617,275,143,133,264,136,128,646,336,311,3796,2035,1762,506,261,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,2.152792,1.722233,20.666800,1.722233,0.897889,1.234235,4.566595,0.427248,0.353642,16.784630,2.250137,19.14919,3.735666,44.827989,24.0,3.735666,4.782323,24,0.630014,7.560163,0.394422,no,7.123215,17.148737,19.868997,21.038561,21.905792,2.808077,13,no,3.688405,27,1.727223,no,25.699461,50,17.366661,8,29.968660,17.397666,9.036942,5.506770,10.102328,3.729416,15.546028,6.433794,1.519553,2.521691,2.715850,13.898607,8.355285,7.401423,25.084813,2.052908,12.893684,9.479093,1.806570,4.338453,1.339078,1.234235,1.192543,1.186621,12.652956,13.459593,9.890758,4.555385,0.066503,no data,3.33,3.70,0,0,0,0,2,1000.0,1750.0,1375.0,0,0,1,0,1,0,0,0,0,0,0,0,0,36.66,2.92,0,0,0,0,2,1000.00,1750.00,1375.00,0,0,1,0,1,0,0,0,0,0,0,0,0,43.85,1.55,0,0,0,0,3,833.33,1500.00,1166.67,0,0,2,0,1,0,0,1,1,0,0,0,0,38.61,3.12,0,0,2,22000,7,757.14,1285.71,1021.43,0,1,3,2,1,0,0,1,2,0,0,3,0,41.64,2.11,0,0,2,22000,9,700.00,1222.22,961.11,0,1,5,2,1,0,0,1,4,0,0,6,0,35.62,6.96,1,117300,4,201300,20,747.37,1263.16,1005.26,1,4,8,5,1,1,0,2,12,0,1,11,1,4

In [187]:
predicted_price = pd.DataFrame(predicted)

In [188]:
predicted_price['index1'] = predicted_price.index

           0  index1
0  15.506752       0
1  15.891777       1
2  15.478339       2
3  15.612939       3
4  15.456021       4

In [189]:
predicted_price.columns = ['price_doc', 'index1']

   price_doc  index1
0  15.506752       0
1  15.891777       1
2  15.478339       2
3  15.612939       3
4  15.456021       4

In [190]:
submission = pd.merge(submission, predicted_price, how = 'left', on = 'index1')

In [192]:
submission = submission.loc[:,['id','price_doc']]

In [193]:
submission['price_doc'] = np.exp(submission['price_doc'])

In [194]:
submission.set_index('id', inplace=True)

In [195]:
submission.to_csv("rfr3_submission.csv")

# One more model

In [197]:
X3 = train.loc[:,['month','year','day','year_month','num_room','kremlin_km','cafe_count_5000',
               'metro_min_avto','additional_education_km','build_year',
               'industrial_km','state','delta_oil_1', 'delta_oil_3', 'delta_oil_6',
               'delta_oil_12', 'delta_labor_force_1','delta_labor_force_3',
               'delta_labor_force_6', 'delta_labor_force_12', 'delta_usdrub_1',
               'delta_usdrub_3','delta_usdrub_6', 'delta_usdrub_12', 'gdp_quart']]
y3 = np.log(train[[0]])
x3_test = test.loc[:,['month','year','day','year_month','num_room','kremlin_km','cafe_count_5000',
               'metro_min_avto','additional_education_km','build_year',
               'industrial_km','state','delta_oil_1', 'delta_oil_3', 'delta_oil_6',
               'delta_oil_12', 'delta_labor_force_1','delta_labor_force_3',
               'delta_labor_force_6', 'delta_labor_force_12', 'delta_usdrub_1',
               'delta_usdrub_3','delta_usdrub_6', 'delta_usdrub_12', 'gdp_quart']]

sample_leaf_options = [1,5,10,50,100,200,500]

for leaf_size in sample_leaf_options :
    rfr3 = RandomForestRegressor(n_estimators=1000, oob_score=True, n_jobs = -1,
                                   verbose = 1, random_state = 69, min_samples_leaf = leaf_size)
    # Train the model using the training sets and check score
    rfr3.fit(X3, y3.values.ravel())
    print "Leaf Size: %d" % (leaf_size)
    print rfr3.score(X3, y3)

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   28.6s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  2.9min finished

Leaf Size: 1

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.8s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    1.6s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    2.8s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    3.5s finished

0.903289750202

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    6.6s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   24.8s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:   58.0s
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 1000 out of 1000 | elapsed:  2.0min finished

Leaf Size: 5

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:    0.5s
[Parallel(n_jobs=4)]: Done 442 tasks      | elapsed:    1.1s
[Parallel(n_jobs=4)]: Done 792 tasks      | elapsed:    1.9s
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed:    2.3s finished

0.683725911737

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:   18.7s
[Parallel(n_jobs=-1)]: Done 442 tasks      | elapsed:   45.8s

KeyboardInterrupt:

In [ ]:
# Make submission a function
id_test = test['id']
y_pred = np.round(predicted * 0.99)
df_sub = pd.DataFrame({'id': id_test, 'price_doc': y_pred})